In [ ]:
import pandas as pd

In [ ]:
recipes_df = pd.read_csv('Ingredients.csv', quoting=1)

In [ ]:
ingredients_df = pd.read_csv('recipes.csv', quoting=1)

In [ ]:
print(len(recipes_df.index))
print(len(ingredients_df.index))

recipes_df

8015
178265

      Ingredient_id         Ingredient_name
0                 8        10 bean soup mix
1                 9  10-minute success rice
2                10         100 proof vodka
3                11             15 bean mix
4                12        15 bean soup mix
...             ...                     ...
8010           8018              ziploc bag
8011           8019             ziti pastum
8012           8020            ziti rigatus
8013           8021                zucchini
8014           8022          zwieback toast

[8015 rows x 2 columns]

In [ ]:
ingredients_df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
print(recipes_df.columns)
print(ingredients_df.columns)

Index(['Ingredient_id', 'Ingredient_name'], dtype='object')
Index(['id', 'name', 'prep_time', 'contributor_id', 'num_ingredients', 'steps',
       'calories', 'ingredient_ids'],
      dtype='object')

In [ ]:
new_recipes_df = recipes_df.drop_duplicates()
new_ingredients_df = ingredients_df.drop_duplicates()

In [ ]:
print(len(new_recipes_df.index))
print(len(new_ingredients_df.index))

9035
178265

In [ ]:
new_ingredients_df['ingredient_list'] = new_ingredients_df['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

In [ ]:
mini_ingr_df = new_ingredients_df[['id', 'ingredient_list']]
mini_ingr_df

            id                                    ingredient_list
0       137739          [7933, 4694, 4795, 3723, 840, 5006, 6270]
1        31490               [5481, 6324, 2499, 4717, 6276, 1170]
2        59389  [1170, 4918, 6426, 5185, 7099, 5006, 6009, 627...
3         5289                            [4717, 7474, 2946, 150]
4        25274  [2587, 3437, 5002, 3184, 5324, 5068, 5058, 131...
...        ...                                                ...
178260  185979   [3203, 7978, 2725, 1336, 2794, 7803, 7655, 5369]
178261  367912                             [4308, 7213, 13, 5007]
178262  357451               [4623, 3758, 7946, 7839, 7049, 5975]
178263  188810  [7783, 7557, 5010, 3399, 1130, 7233, 7946, 381...
178264  308080     [3627, 4623, 2148, 905, 7049, 6270, 590, 2822]

[178265 rows x 2 columns]

In [ ]:
recipe_ingr_df = mini_ingr_df.explode('ingredient_list')

In [ ]:
recipe_ingr_df.rename(columns={'id': 'recipe_id', 'ingredient_list': 'ingredient_id'}, inplace=True)

In [ ]:
print(len(recipe_ingr_df.index))

1605472

In [ ]:
new_recipe_ingr_df = recipe_ingr_df.drop_duplicates()

In [ ]:
new_recipe_ingr_df.to_csv('cleaned_recipe_to_ingredients.csv')

In [ ]:
import pandas as pd
reviews_df = pd.read_csv('cleaned_reviews2.csv', quoting=1, on_bad_lines='warn')
reviews_df

,Unnamed: 0,user_id,recipe_id,rating,descriptions
0,0,38094,40893,4,Great with a salad. Cooked on top of stove for...
1,1,1293707,40893,5,"So simple, so delicious! Great for chilly fall..."
2,2,8937,44394,4,This worked very well and is EASY. I used not...
3,3,126440,85009,5,I made the Mexican topping and took it to bunk...
4,4,57222,85009,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
122245,122266,705251,482449,5,It is breakfast for dinner at our house and th...
122246,122267,461834,482449,5,"Awesome pancakes!!! I made these, as I had fr..."
122247,122268,280271,482449,5,Loved that this didn't make a bunch of pancake...
122248,122269,714863,12639,4,These were extremely easy to mix up and the ba...
122249,122270,39636,87885,5,This was an easy recipe to make. Far better th...

In [ ]:
print(len(max(list(reviews_df['descriptions']), key=len)))

5799

In [ ]:
recipes_df = pd.read_csv('Recipes.csv', quoting=1, on_bad_lines='warn')

In [ ]:
merged_df = reviews_df.merge(recipes_df, left_on='recipe_id', right_on='id')

In [ ]:
merged_df2 = merged_df[['user_id', 'recipe_id', 'rating', 'descriptions']]
merged_df2

,user_id,recipe_id,rating,descriptions
0,126440,85009,5,I made the Mexican topping and took it to bunk...
1,57222,85009,5,"Made the cheddar bacon topping, adding a sprin..."
2,135017,254596,5,I am extremely picky about my crockpot recipes...
3,224088,254596,4,Pork + fruit + crockpot = awesome.\n\nA very g...
4,582223,254596,5,really good my 18 month old loved it and she's...
...,...,...,...,...
17755,209255,63362,5,I LOVED these! And so did everyone else that ...
17756,163112,226618,3,I'm not sure what went wrong. The cake was ve...
17757,714748,392347,5,"Simple, straightforward, and delicious. I've m..."
17758,181231,107852,5,I omited cloves and added 3Tbs.cinnamon red ho...
17759,582946,107852,4,Very tasty and simple to make. I had no cloves...

In [ ]:
merged_df2.to_csv('updated_recipes.csv')

In [ ]:
import pandas as pd
prices_df = pd.read_csv('Prices.csv')

In [ ]:
new_prices_df = pd.DataFrame(prices_df.groupby(by=["Ingredient_id", "Ingredient_name", "year", "country", "unit"]).mean().reset_index())

In [ ]:
new_prices_df.to_csv('updated_final_prices.csv')

In [ ]:
import pandas as pd
recipes_df = pd.read_csv('recipes.csv', quoting=1)

In [ ]:
recipes_df['steps']

0         ['make a choice and proceed with recipe', 'dep...
1         ['preheat oven to 425 degrees f', 'press dough...
2         ['place potatoes in a large pot of lightly sal...
3         ['combine ingredients in blender', 'cover and ...
4         ['toast the fennel seeds and lightly crush the...
                                ...
178260    ['into each of six sterile pint mason jars , p...
178261    ['place the lettuce on a platter or serving di...
178262    ['to make the sauce , combine the mayonnaise ,...
178263    ['bring 3 quarts salted to water to a boil', '...
178264    ['in a bowl , combine the mashed yolks and may...
Name: steps, Length: 178265, dtype: object

In [ ]:
import re

def clean(raw_steps):
    # Replace single quotes inside double quotes with empty string
    pattern = r'"(?:[^"\\]|\\.)*"'
    result = re.findall(pattern, raw_steps)
    for match in result:
        new_match = re.sub(r"'", '', match)
        raw_steps = raw_steps.replace(match, new_match)
        
    # Replace all double quotes inside single quotes with empty string
    pattern = r"'(?:[^'\\]|\\.)*\"(?:[^'\\]|\\.)*'"
    result = re.findall(pattern, raw_steps)
    for match in result:
        new_match = re.sub(r'"', '', match)
        raw_steps = raw_steps.replace(match, new_match)

    # Replace all remaining double quotes with single quotes
    raw_steps = raw_steps.replace('"', "'")

    return raw_steps

In [ ]:
def add_apostrophe(input_string):
    quoted_strings = []
    substrings = input_string.split("'")
    for i in range(0, len(substrings)-1, 2):
        quoted_strings.append(substrings[i] + "'" + substrings[i+1])
        if i < len(substrings)-2:
            quoted_strings.append(",")
    return quoted_strings

In [ ]:
test = """
['cube bread', 'set aside in a large mixing bowl', 'combine all ingredients except butter', 'mix well and pour over bread', 'soak bread in milk mixture for 15 minutes', 'pour into a 13x9 buttered pan', 'top bread mixture , with cut up butter', 'bake at 325 for 60-90 minutes or until pudding mixture has risen 1 inch', 'serve warm sauce over bread pudding', 'sauce', 'combine ingredients and add sugar and water until dissolved', 'add butter , and simmer until melted', 'cook over high heat of 2 minutes', 'add jack daniels , and simmer for 3-5 minutes']"""
test

"\n['cube bread', 'set aside in a large mixing bowl', 'combine all ingredients except butter', 'mix well and pour over bread', 'soak bread in milk mixture for 15 minutes', 'pour into a 13x9 buttered pan', 'top bread mixture , with cut up butter', 'bake at 325 for 60-90 minutes or until pudding mixture has risen 1 inch', 'serve warm sauce over bread pudding', 'sauce', 'combine ingredients and add sugar and water until dissolved', 'add butter , and simmer until melted', 'cook over high heat of 2 minutes', 'add jack daniels , and simmer for 3-5 minutes']"

In [ ]:
clean(test)

"\n['cube bread', 'set aside in a large mixing bowl', 'combine all ingredients except butter', 'mix well and pour over bread', 'soak bread in milk mixture for 15 minutes', 'pour into a 13x9 buttered pan', 'top bread mixture , with cut up butter', 'bake at 325 for 60-90 minutes or until pudding mixture has risen 1 inch', 'serve warm sauce over bread pudding', 'sauce', 'combine ingredients and add sugar and water until dissolved', 'add butter , and simmer until melted', 'cook over high heat of 2 minutes', 'add jack daniels , and simmer for 3-5 minutes']"

In [ ]:
lst = add_apostrophe(clean(test))
lst

["\n['cube bread",
 ',',
 ", 'set aside in a large mixing bowl",
 ',',
 ", 'combine all ingredients except butter",
 ',',
 ", 'mix well and pour over bread",
 ',',
 ", 'soak bread in milk mixture for 15 minutes",
 ',',
 ", 'pour into a 13x9 buttered pan",
 ',',
 ", 'top bread mixture , with cut up butter",
 ',',
 ", 'bake at 325 for 60-90 minutes or until pudding mixture has risen 1 inch",
 ',',
 ", 'serve warm sauce over bread pudding",
 ',',
 ", 'sauce",
 ',',
 ", 'combine ingredients and add sugar and water until dissolved",
 ',',
 ", 'add butter , and simmer until melted",
 ',',
 ", 'cook over high heat of 2 minutes",
 ',',
 ", 'add jack daniels , and simmer for 3-5 minutes",
 ',']

In [ ]:
def conversion(input_str):
  sentences = []
  for item in add_apostrophe(clean(input_str)):
      if "'" in item:
          sentence = item.split("'")[1].replace(",", "").replace("[", "").replace("]", "").strip()
          sentence = "'" + sentence + "'"
          sentences.append(sentence)
  out = ", ".join(sentences)
  out = '[' + out + ']'
  return out

In [ ]:
conversion(test)

"['cube bread', 'set aside in a large mixing bowl', 'combine all ingredients except butter', 'mix well and pour over bread', 'soak bread in milk mixture for 15 minutes', 'pour into a 13x9 buttered pan', 'top bread mixture  with cut up butter', 'bake at 325 for 60-90 minutes or until pudding mixture has risen 1 inch', 'serve warm sauce over bread pudding', 'sauce', 'combine ingredients and add sugar and water until dissolved', 'add butter  and simmer until melted', 'cook over high heat of 2 minutes', 'add jack daniels  and simmer for 3-5 minutes']"

In [ ]:
new_steps = recipes_df['steps'].apply(conversion)

In [ ]:
recipes_df['steps'] = new_steps

In [ ]:
recipes_df.to_csv('cleaned_updated_recipes.csv')