In [ ]:
import pandas as pd

In [ ]:
recipes_df = pd.read_csv('ingredients.csv', quoting=1)

In [ ]:
ingredients_df = pd.read_csv('recipes.csv', quoting=1)

In [ ]:
print(len(recipes_df.index))
print(len(ingredients_df.index))

11659
178265
Index(['Unnamed: 0', 'id', 'raw_ingredient_name', 'ingredient_name'], dtype='object')
Index(['Unnamed: 0', 'id', 'name', 'prep_time', 'contributor_id',
       'num_ingredients', 'steps', 'calories', 'ingredient_ids'],
      dtype='object')

In [ ]:
recipes_df.drop(columns=['Unnamed: 0'], inplace=True)
ingredients_df.drop(columns=['Unnamed: 0'], inplace=True)

KeyError: ignored

In [ ]:
print(recipes_df.columns)
print(ingredients_df.columns)

Index(['id', 'raw_ingredient_name', 'ingredient_name'], dtype='object')
Index(['id', 'name', 'prep_time', 'contributor_id', 'num_ingredients', 'steps',
       'calories', 'ingredient_ids'],
      dtype='object')

In [ ]:
new_recipes_df = recipes_df.drop_duplicates()
new_ingredients_df = ingredients_df.drop_duplicates()

In [ ]:
print(len(new_recipes_df.index))
print(len(new_ingredients_df.index))

9035
178265

In [ ]:
new_recipes_df.to_csv('cleaned_recipes.csv')

In [ ]:
new_ingredients_df.to_csv('cleaned_ingredients.csv')

In [ ]:
new_recipes_df

         id                                raw_ingredient_name ingredient_name
0      4308  medium heads bibb or red leaf lettuce, washed,...         lettuce
1      4308               mixed baby lettuces and spring green         lettuce
2      4308                               romaine lettuce leaf         lettuce
3      4308                               iceberg lettuce leaf         lettuce
4      4308                                red romaine lettuce         lettuce
...     ...                                                ...             ...
11654  6702                                            soybean         soybean
11655  3318                                              goose           goose
11656    47                                             ajwain          ajwain
11657   750                                            brinjal         brinjal
11658  4061                                              khoya           khoya

[9035 rows x 3 columns]

In [ ]:
new_ingredients_df

,id,name,prep_time,contributor_id,num_ingredients,steps,calories,ingredient_ids
0,137739,arriba baked winter squash mexican style,55,47892,7,"['make a choice and proceed with recipe', 'dep...",51.5,"[7933, 4694, 4795, 3723, 840, 5006, 6270]"
1,31490,a bit different breakfast pizza,30,26278,6,"['preheat oven to 425 degrees f', 'press dough...",173.4,"[5481, 6324, 2499, 4717, 6276, 1170]"
2,59389,alouette potatoes,45,68585,11,['place potatoes in a large pot of lightly sal...,368.1,"[1170, 4918, 6426, 5185, 7099, 5006, 6009, 627..."
3,5289,apple a day milk shake,0,1533,4,"['combine ingredients in blender', 'cover and ...",160.2,"[4717, 7474, 2946, 150]"
4,25274,aww marinated olives,15,21730,9,['toast the fennel seeds and lightly crush the...,380.7,"[2587, 3437, 5002, 3184, 5324, 5068, 5058, 131..."
...,...,...,...,...,...,...,...,...
178260,185979,zydeco green beans,20,145599,8,"['into each of six sterile pint mason jars , p...",103.1,"[3203, 7978, 2725, 1336, 2794, 7803, 7655, 5369]"
178261,367912,zydeco salad,5,79877,4,['place the lettuce on a platter or serving di...,14.1,"[4308, 7213, 13, 5007]"
178262,357451,zydeco sauce,15,461283,6,"['to make the sauce , combine the mayonnaise ,...",239.9,"[4623, 3758, 7946, 7839, 7049, 5975]"
178263,188810,zydeco shrimp wrap,57,37779,11,"['bring 3 quarts salted to water to a boil', '...",482.6,"[7783, 7557, 5010, 3399, 1130, 7233, 7946, 381..."
178264,308080,zydeco ya ya deviled eggs,40,37779,8,"['in a bowl , combine the mashed yolks and may...",59.2,"[3627, 4623, 2148, 905, 7049, 6270, 590, 2822]"

In [ ]:
list(new_ingredients_df['ingredient_ids'])[0]

'[7933, 4694, 4795, 3723, 840, 5006, 6270]'

In [ ]:
new_ingredients_df['ingredient_list'] = new_ingredients_df['ingredient_ids'].apply(lambda x: [int(y) for y in str.split(x[1:-1], ',') if y.strip().isdigit()])

In [ ]:
mini_ingr_df = new_ingredients_df[['id', 'ingredient_list']]
mini_ingr_df

            id                                    ingredient_list
0       137739          [7933, 4694, 4795, 3723, 840, 5006, 6270]
1        31490               [5481, 6324, 2499, 4717, 6276, 1170]
2        59389  [1170, 4918, 6426, 5185, 7099, 5006, 6009, 627...
3         5289                            [4717, 7474, 2946, 150]
4        25274  [2587, 3437, 5002, 3184, 5324, 5068, 5058, 131...
...        ...                                                ...
178260  185979   [3203, 7978, 2725, 1336, 2794, 7803, 7655, 5369]
178261  367912                             [4308, 7213, 13, 5007]
178262  357451               [4623, 3758, 7946, 7839, 7049, 5975]
178263  188810  [7783, 7557, 5010, 3399, 1130, 7233, 7946, 381...
178264  308080     [3627, 4623, 2148, 905, 7049, 6270, 590, 2822]

[178265 rows x 2 columns]

In [ ]:
recipe_ingr_df = mini_ingr_df.explode('ingredient_list')

In [ ]:
recipe_ingr_df.rename(columns={'id': 'recipe_id', 'ingredient_list': 'ingredient_id'}, inplace=True)

In [ ]:
print(len(recipe_ingr_df.index))

1605472

In [ ]:
new_recipe_ingr_df = recipe_ingr_df.drop_duplicates()

In [ ]:
new_recipe_ingr_df.to_csv('cleaned_recipe_to_ingredients.csv')