In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
prices = pd.read_csv('/content/drive/MyDrive/global_food_prices.csv')
prices

<ipython-input-4-55d719009140>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  prices = pd.read_csv('/content/drive/MyDrive/global_food_prices.csv')

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0000,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0000,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0000,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0000,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050633,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,432,Beans (sugar) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,233.3333,NaN
2050634,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,539,Toothpaste - Retail,0.0,ZWL,15,Retail,116,100 ML,6,2021,112.5000,NaN
2050635,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,540,Laundry soap - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,114.0000,NaN
2050636,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,541,Handwash soap - Retail,0.0,ZWL,15,Retail,66,250 G,6,2021,59.5000,NaN
2050637,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,1200.0000,NaN

In [ ]:
prices = prices[['cm_name', 'mp_year', 'adm0_name', 'cur_name', 'adm1_name', 'um_name', 'mp_price' ]]
prices.rename(columns={'cm_name': 'ingredient_name', 'mp_year': 'year', 'cur_name': 'currency', 'adm0_name': 'country', 'adm1_name': 'locality', 'um_name': 'unit', 'mp_price': 'price'}, inplace=True)
prices # no nulls

<ipython-input-7-66532f05dcd4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.rename(columns={'cm_name': 'ingredient_name', 'mp_year': 'year', 'cur_name': 'currency', 'adm0_name': 'country', 'adm1_name': 'locality', 'um_name': 'unit', 'mp_price': 'price'}, inplace=True)

,ingredient_name,year,country,currency,locality,unit,price
0,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
1,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
2,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
3,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
4,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
...,...,...,...,...,...,...,...
2050633,Beans (sugar) - Retail,2021,Zimbabwe,ZWL,Midlands,KG,233.3333
2050634,Toothpaste - Retail,2021,Zimbabwe,ZWL,Midlands,100 ML,112.5000
2050635,Laundry soap - Retail,2021,Zimbabwe,ZWL,Midlands,KG,114.0000
2050636,Handwash soap - Retail,2021,Zimbabwe,ZWL,Midlands,250 G,59.5000
2050637,Fish (kapenta) - Retail,2021,Zimbabwe,ZWL,Midlands,KG,1200.0000

In [ ]:
ingr = pd.read_csv('/content/drive/MyDrive/final_ingredients.csv')
ingr

      Unnamed: 0  Ingredient_id                             Ingredient_name
0              0           4308                                     lettuce
1             34           2744  french vanilla pudding and pie filling mix
2             35           6843                      stove top stuffing mix
3             36           1910                                cream cheese
4             57           1168                                     cheddar
...          ...            ...                                         ...
8010        9030           6702                                     soybean
8011        9031           3318                                       goose
8012        9032             47                                      ajwain
8013        9033            750                                     brinjal
8014        9034           4061                                       khoya

[8015 rows x 3 columns]

In [ ]:
prices = prices.drop_duplicates()
prices

,ingredient_name,year,country,currency,locality,unit,price
0,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,KG,50.0000
12,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,KG,50.0000
19,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,KG,56.2500
20,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,KG,65.2500
21,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,KG,55.5000
...,...,...,...,...,...,...,...
2050632,Salt - Retail,2021,Zimbabwe,ZWL,Midlands,KG,71.0000
2050633,Beans (sugar) - Retail,2021,Zimbabwe,ZWL,Midlands,KG,233.3333
2050635,Laundry soap - Retail,2021,Zimbabwe,ZWL,Midlands,KG,114.0000
2050636,Handwash soap - Retail,2021,Zimbabwe,ZWL,Midlands,250 G,59.5000
2050637,Fish (kapenta) - Retail,2021,Zimbabwe,ZWL,Midlands,KG,1200.0000

In [ ]:
prices.loc[prices['unit'] == 'KG', 'price'] = prices['price']/1000
prices.loc[prices['unit'] == 'KG', 'unit'] = 'G'
prices

,ingredient_name,year,country,currency,locality,unit,price
0,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,G,0.050000
12,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.050000
19,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.056250
20,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.065250
21,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.055500
...,...,...,...,...,...,...,...
2050632,Salt - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.071000
2050633,Beans (sugar) - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.233333
2050635,Laundry soap - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.114000
2050636,Handwash soap - Retail,2021,Zimbabwe,ZWL,Midlands,250 G,59.500000
2050637,Fish (kapenta) - Retail,2021,Zimbabwe,ZWL,Midlands,G,1.200000

In [ ]:
prices.loc[prices['unit'] == '500 G', 'price'] = prices['price']/500
prices.loc[prices['unit'] == '500 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '125 G', 'price'] = prices['price']/125
prices.loc[prices['unit'] == '125 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '380 G', 'price'] = prices['price']/380
prices.loc[prices['unit'] == '380 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '400 G', 'price'] = prices['price']/400
prices.loc[prices['unit'] == '400 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '700 G', 'price'] = prices['price']/700
prices.loc[prices['unit'] == '700 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '800 G', 'price'] = prices['price']/800
prices.loc[prices['unit'] == '800 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '300 G', 'price'] = prices['price']/300
prices.loc[prices['unit'] == '300 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '385 G', 'price'] = prices['price']/385
prices.loc[prices['unit'] == '385 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '170 G', 'price'] = prices['price']/170
prices.loc[prices['unit'] == '170 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '900 G', 'price'] = prices['price']/900
prices.loc[prices['unit'] == '900 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '250 G', 'price'] = prices['price']/250
prices.loc[prices['unit'] == '250 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '650 G', 'price'] = prices['price']/650
prices.loc[prices['unit'] == '650 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '350 G', 'price'] = prices['price']/350
prices.loc[prices['unit'] == '350 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '115 G', 'price'] = prices['price']/115
prices.loc[prices['unit'] == '115 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '168 G', 'price'] = prices['price']/168
prices.loc[prices['unit'] == '168 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '85 G', 'price'] = prices['price']/85
prices.loc[prices['unit'] == '85 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '200 G', 'price'] = prices['price']/200
prices.loc[prices['unit'] == '200 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '70 G', 'price'] = prices['price']/70
prices.loc[prices['unit'] == '70 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '750 G', 'price'] = prices['price']/750
prices.loc[prices['unit'] == '750 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '20 G', 'price'] = prices['price']/20
prices.loc[prices['unit'] == '20 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '185 G', 'price'] = prices['price']/185
prices.loc[prices['unit'] == '185 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '100 KG', 'price'] = prices['price']/100000
prices.loc[prices['unit'] == '100 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '91 KG', 'price'] = prices['price']/91000
prices.loc[prices['unit'] == '91 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '46 KG', 'price'] = prices['price']/46000
prices.loc[prices['unit'] == '46 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '50 KG', 'price'] = prices['price']/50000
prices.loc[prices['unit'] == '50 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.1 KG', 'price'] = prices['price']/1100
prices.loc[prices['unit'] == '1.1 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '15 KG', 'price'] = prices['price']/15000
prices.loc[prices['unit'] == '15 KG', 'unit'] = 'G'

prices

,ingredient_name,year,country,currency,locality,unit,price
0,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,G,0.050000
12,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.050000
19,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.056250
20,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.065250
21,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.055500
...,...,...,...,...,...,...,...
2050632,Salt - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.071000
2050633,Beans (sugar) - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.233333
2050635,Laundry soap - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.114000
2050636,Handwash soap - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.238000
2050637,Fish (kapenta) - Retail,2021,Zimbabwe,ZWL,Midlands,G,1.200000

In [ ]:
prices.loc[prices['unit'] == '12 KG', 'price'] = prices['price']/12000
prices.loc[prices['unit'] == '12 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '20 KG', 'price'] = prices['price']/20000
prices.loc[prices['unit'] == '20 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '120 KG', 'price'] = prices['price']/120000
prices.loc[prices['unit'] == '120 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '90 KG', 'price'] = prices['price']/90000
prices.loc[prices['unit'] == '90 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.3 KG', 'price'] = prices['price']/1300
prices.loc[prices['unit'] == '1.3 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '2 KG', 'price'] = prices['price']/2000
prices.loc[prices['unit'] == '2 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '45 KG', 'price'] = prices['price']/45000
prices.loc[prices['unit'] == '45 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '10 KG', 'price'] = prices['price']/10000
prices.loc[prices['unit'] == '10 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '93 KG', 'price'] = prices['price']/93000
prices.loc[prices['unit'] == '93 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.6 KG', 'price'] = prices['price']/1600
prices.loc[prices['unit'] == '1.6 KG', 'unit'] = 'G'

prices

,ingredient_name,year,country,currency,locality,unit,price
0,Bread - Retail,2014,Afghanistan,AFN,Badakhshan,G,0.050000
12,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.050000
19,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.056250
20,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.065250
21,Bread - Retail,2015,Afghanistan,AFN,Badakhshan,G,0.055500
...,...,...,...,...,...,...,...
2050632,Salt - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.071000
2050633,Beans (sugar) - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.233333
2050635,Laundry soap - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.114000
2050636,Handwash soap - Retail,2021,Zimbabwe,ZWL,Midlands,G,0.238000
2050637,Fish (kapenta) - Retail,2021,Zimbabwe,ZWL,Midlands,G,1.200000

In [ ]:
prices.loc[prices['unit'] == '11.5 KG', 'price'] = prices['price']/11500
prices.loc[prices['unit'] == '11.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '5 KG', 'price'] = prices['price']/5000
prices.loc[prices['unit'] == '5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '18 KG', 'price'] = prices['price']/18000
prices.loc[prices['unit'] == '18 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '52 KG', 'price'] = prices['price']/52000
prices.loc[prices['unit'] == '52 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '27 KG', 'price'] = prices['price']/27000
prices.loc[prices['unit'] == '27 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '16 KG', 'price'] = prices['price']/16000
prices.loc[prices['unit'] == '16 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '160 KG', 'price'] = prices['price']/160000
prices.loc[prices['unit'] == '160 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '68 KG', 'price'] = prices['price']/68000
prices.loc[prices['unit'] == '68 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '109 KG', 'price'] = prices['price']/109000
prices.loc[prices['unit'] == '109 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '250 KG', 'price'] = prices['price']/250000
prices.loc[prices['unit'] == '250 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '150 G', 'price'] = prices['price']/150
prices.loc[prices['unit'] == '150 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '160 G', 'price'] = prices['price']/160
prices.loc[prices['unit'] == '160 G', 'unit'] = 'G'

prices.loc[prices['unit'] == '3 KG', 'price'] = prices['price']/3000
prices.loc[prices['unit'] == '3 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '60 KG', 'price'] = prices['price']/60000
prices.loc[prices['unit'] == '60 KG', 'unit'] = 'G'

In [ ]:
prices.loc[prices['unit'] == '73 KG', 'price'] = prices['price']/73000
prices.loc[prices['unit'] == '73 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '84 KG', 'price'] = prices['price']/84000
prices.loc[prices['unit'] == '84 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.8 KG', 'price'] = prices['price']/1800
prices.loc[prices['unit'] == '1.8 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '0.8 KG', 'price'] = prices['price']/800
prices.loc[prices['unit'] == '0.8 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '0.5 KG', 'price'] = prices['price']/500
prices.loc[prices['unit'] == '0.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '25 KG', 'price'] = prices['price']/25000
prices.loc[prices['unit'] == '25 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '2.1 KG', 'price'] = prices['price']/2100
prices.loc[prices['unit'] == '2.1 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.2 KG', 'price'] = prices['price']/1200
prices.loc[prices['unit'] == '1.2 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '3.1 KG', 'price'] = prices['price']/3100
prices.loc[prices['unit'] == '3.1 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '3.5 KG', 'price'] = prices['price']/3500
prices.loc[prices['unit'] == '3.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '3.4 KG', 'price'] = prices['price']/3400
prices.loc[prices['unit'] == '3.4 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.4 KG', 'price'] = prices['price']/1400
prices.loc[prices['unit'] == '1.4 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '12.5 KG', 'price'] = prices['price']/12500
prices.loc[prices['unit'] == '12.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '11 KG', 'price'] = prices['price']/11000
prices.loc[prices['unit'] == '11 KG', 'unit'] = 'G'

In [ ]:
prices.loc[prices['unit'] == '2.5 KG', 'price'] = prices['price']/2500
prices.loc[prices['unit'] == '2.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '2.25 KG', 'price'] = prices['price']/2250
prices.loc[prices['unit'] == '2.25 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '1.5 KG', 'price'] = prices['price']/1500
prices.loc[prices['unit'] == '1.5 KG', 'unit'] = 'G'

prices.loc[prices['unit'] == '5 L', 'price'] = prices['price']/5
prices.loc[prices['unit'] == '5 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '20 L', 'price'] = prices['price']/20
prices.loc[prices['unit'] == '20 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '1.5 L', 'price'] = prices['price']/1.5
prices.loc[prices['unit'] == '1.5 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '1.8 L', 'price'] = prices['price']/1.8
prices.loc[prices['unit'] == '1.8 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '100 L', 'price'] = prices['price']/100
prices.loc[prices['unit'] == '100 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '3 L', 'price'] = prices['price']/3
prices.loc[prices['unit'] == '3 L', 'unit'] = 'L'

prices.loc[prices['unit'] == '900 ML', 'price'] = prices['price']/(10/9000)
prices.loc[prices['unit'] == '900 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '750 ML', 'price'] = prices['price']/(10/7500)
prices.loc[prices['unit'] == '750 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '500 ML', 'price'] = prices['price']/(10/5000)
prices.loc[prices['unit'] == '500 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '200 ML', 'price'] = prices['price']/(10/2000)
prices.loc[prices['unit'] == '200 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '250 ML', 'price'] = prices['price']/(10/2500)
prices.loc[prices['unit'] == '250 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '100 ML', 'price'] = prices['price']/(10/1000)
prices.loc[prices['unit'] == '100 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '150 ml', 'price'] = prices['price']/(10/1500)
prices.loc[prices['unit'] == '150 ml', 'unit'] = 'L'

In [ ]:
prices.loc[prices['unit'] == '50 ML', 'price'] = prices['price']/(10/500)
prices.loc[prices['unit'] == '50 ML', 'unit'] = 'L'

prices.loc[prices['unit'] == '50 Pounds', 'price'] = prices['price']/50
prices.loc[prices['unit'] == '50 Pounds', 'unit'] = 'Pound'

prices.loc[prices['unit'] == '100 Pounds', 'price'] = prices['price']/100
prices.loc[prices['unit'] == '100 Pounds', 'unit'] = 'Pound'

prices.loc[prices['unit'] == '50 Pounds', 'price'] = prices['price']/50
prices.loc[prices['unit'] == '50 Pounds', 'unit'] = 'Pound'

prices.loc[prices['unit'] == '30 pcs', 'price'] = prices['price']/30
prices.loc[prices['unit'] == '30 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '10 pcs', 'price'] = prices['price']/10
prices.loc[prices['unit'] == '10 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '100 pcs', 'price'] = prices['price']/100
prices.loc[prices['unit'] == '100 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '50 pcs', 'price'] = prices['price']/50
prices.loc[prices['unit'] == '50 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '360 pcs', 'price'] = prices['price']/360
prices.loc[prices['unit'] == '360 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '5 pcs', 'price'] = prices['price']/5
prices.loc[prices['unit'] == '5 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '4 pcs', 'price'] = prices['price']/4
prices.loc[prices['unit'] == '4 pcs', 'unit'] = '1 piece'

prices.loc[prices['unit'] == '28 pcs', 'price'] = prices['price']/28
prices.loc[prices['unit'] == '28 pcs', 'unit'] = '1 piece'

In [ ]:
prices.drop(prices[prices.unit == 'Cubic meter'].index, inplace=True)
prices.drop(prices[prices.unit == 'Day'].index, inplace=True)
prices.drop(prices[prices.unit == 'USD/LCU'].index, inplace=True)
prices.drop(prices[prices.unit == 'Cuartilla'].index, inplace=True)
prices.drop(prices[prices.unit == 'Libra'].index, inplace=True)
prices.drop(prices[prices.unit == 'MT'].index, inplace=True)
prices.drop(prices[prices.unit == 'Month'].index, inplace=True)
prices.drop(prices[prices.unit == 'Course'].index, inplace=True)
prices.drop(prices[prices.unit == '1 GB'].index, inplace=True)
prices.drop(prices[prices.unit == '100 Tubers'].index, inplace=True)
prices.drop(prices[prices.unit == 'Marmite'].index, inplace=True)
prices.drop(prices[prices.unit == 'Cylinder'].index, inplace=True)
prices.drop(prices[prices.unit == 'Brush'].index, inplace=True)
prices.drop(prices[prices.unit == 'Pile'].index, inplace=True)
prices.drop(prices[prices.unit == 'Heap'].index, inplace=True)
prices.drop(prices[prices.unit == 'Bundle'].index, inplace=True)
prices.drop(prices[prices.unit == 'LCU/3.5kg'].index, inplace=True)
prices.drop(prices[prices.unit == 'Pair'].index, inplace=True)
prices.drop(prices[prices.unit == 'kWh'].index, inplace=True)

<ipython-input-17-e2585257208e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Cubic meter'].index, inplace=True)
<ipython-input-17-e2585257208e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Day'].index, inplace=True)
<ipython-input-17-e2585257208e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'USD/LCU'].index, inplace=True)
<ipython-input-17-e2585257208e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Cuartilla'].index, inplace=True)
<ipython-input-17-e2585257208e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Libra'].index, inplace=True)
<ipython-input-17-e2585257208e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'MT'].index, inplace=True)
<ipython-input-17-e2585257208e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Month'].index, inplace=True)
<ipython-input-17-e2585257208e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Course'].index, inplace=True)
<ipython-input-17-e2585257208e>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == '1 GB'].index, inplace=True)
<ipython-input-17-e2585257208e>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == '100 Tubers'].index, inplace=True)
<ipython-input-17-e2585257208e>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Marmite'].index, inplace=True)
<ipython-input-17-e2585257208e>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Cylinder'].index, inplace=True)
<ipython-input-17-e2585257208e>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Brush'].index, inplace=True)
<ipython-input-17-e2585257208e>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Pile'].index, inplace=True)
<ipython-input-17-e2585257208e>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Heap'].index, inplace=True)
<ipython-input-17-e2585257208e>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Bundle'].index, inplace=True)
<ipython-input-17-e2585257208e>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'LCU/3.5kg'].index, inplace=True)
<ipython-input-17-e2585257208e>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'Pair'].index, inplace=True)
<ipython-input-17-e2585257208e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices.drop(prices[prices.unit == 'kWh'].index, inplace=True)

In [ ]:
ingr

      Unnamed: 0  Ingredient_id                             Ingredient_name
0              0           4308                                     lettuce
1             34           2744  french vanilla pudding and pie filling mix
2             35           6843                      stove top stuffing mix
3             36           1910                                cream cheese
4             57           1168                                     cheddar
...          ...            ...                                         ...
8010        9030           6702                                     soybean
8011        9031           3318                                       goose
8012        9032             47                                      ajwain
8013        9033            750                                     brinjal
8014        9034           4061                                       khoya

[8015 rows x 3 columns]

In [ ]:
prices['ingredient_name'] = prices['ingredient_name'].str.rsplit('-', n=1).str.get(0)
prices = prices.drop_duplicates()
prices['ingredient_name'] = prices['ingredient_name'].str.lower()
prices['unit'] = prices['unit'].str.lower()
prices['ingredient_name'] = prices['ingredient_name'].str.rsplit('(', n=1).str.get(0)
prices = prices.drop_duplicates()
prices

<ipython-input-29-f216a28e06c3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices['ingredient_name'] = prices['ingredient_name'].str.rsplit('-', n=1).str.get(0)
<ipython-input-29-f216a28e06c3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices['ingredient_name'] = prices['ingredient_name'].str.lower()
<ipython-input-29-f216a28e06c3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices['unit'] = prices['unit'].str.lower()
<ipython-input-29-f216a28e06c3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prices['ingredient_name'] = prices['ingredient_name'].str.rsplit('(', n=1).str.get(0)

        ingredient_name  year      country currency    locality unit     price
0                bread   2014  Afghanistan      AFN  Badakhshan    g  0.050000
12               bread   2015  Afghanistan      AFN  Badakhshan    g  0.050000
19               bread   2015  Afghanistan      AFN  Badakhshan    g  0.056250
20               bread   2015  Afghanistan      AFN  Badakhshan    g  0.065250
21               bread   2015  Afghanistan      AFN  Badakhshan    g  0.055500
...                 ...   ...          ...      ...         ...  ...       ...
2050632           salt   2021     Zimbabwe      ZWL    Midlands    g  0.071000
2050633          beans   2021     Zimbabwe      ZWL    Midlands    g  0.233333
2050635   laundry soap   2021     Zimbabwe      ZWL    Midlands    g  0.114000
2050636  handwash soap   2021     Zimbabwe      ZWL    Midlands    g  0.238000
2050637           fish   2021     Zimbabwe      ZWL    Midlands    g  1.200000

[1118950 rows x 7 columns]

In [ ]:
prices.to_csv('pricesCleaned.csv')

In [ ]:
avg_prices = prices.groupby(['ingredient_name', 'year', 'country', 'unit', 'currency'], sort=False)['price'].mean().reset_index()
avg_prices

,ingredient_name,year,country,unit,currency,price
0,Bread - Retail,2014,Afghanistan,G,AFN,0.043263
1,Bread - Retail,2015,Afghanistan,G,AFN,0.044522
2,Bread - Retail,2016,Afghanistan,G,AFN,0.045265
3,Bread - Retail,2017,Afghanistan,G,AFN,0.040612
4,Bread - Retail,2018,Afghanistan,G,AFN,0.041028
...,...,...,...,...,...,...
17905,Millet - Retail,2019,Zimbabwe,G,USD,0.000530
17906,Cowpeas - Retail,2019,Zimbabwe,G,USD,0.000770
17907,Maize flour (white) - Retail,2014,Zimbabwe,G,USD,0.000600
17908,"Maize (yellow, biofortified) - Retail",2018,Zimbabwe,G,USD,0.000385
17909,Millet (biofortified) - Retail,2017,Zimbabwe,G,USD,0.002100

In [ ]:
pricesf = avg_prices
pricesf['ingredient_name'] = avg_prices['ingredient_name'].str.rsplit('-', n=1).str.get(0)
pricesf = pricesf.drop_duplicates()
pricesf['ingredient_name'] = pricesf['ingredient_name'].str.lower()
pricesf['unit'] = pricesf['unit'].str.lower()
pricesf

,ingredient_name,year,country,unit,currency,price
0,bread,2014,Afghanistan,g,AFN,0.043263
1,bread,2015,Afghanistan,g,AFN,0.044522
2,bread,2016,Afghanistan,g,AFN,0.045265
3,bread,2017,Afghanistan,g,AFN,0.040612
4,bread,2018,Afghanistan,g,AFN,0.041028
...,...,...,...,...,...,...
17905,millet,2019,Zimbabwe,g,USD,0.000530
17906,cowpeas,2019,Zimbabwe,g,USD,0.000770
17907,maize flour (white),2014,Zimbabwe,g,USD,0.000600
17908,"maize (yellow, biofortified)",2018,Zimbabwe,g,USD,0.000385
17909,millet (biofortified),2017,Zimbabwe,g,USD,0.002100

In [ ]:
pricesf2 = pricesf
pricesf2['ingredient_name'] = pricesf['ingredient_name'].str.rsplit('(', n=1).str.get(0)
pricesf2 = pricesf2.drop_duplicates()
pricesf2

      ingredient_name  year      country unit currency     price
0              bread   2014  Afghanistan    g      AFN  0.043263
1              bread   2015  Afghanistan    g      AFN  0.044522
2              bread   2016  Afghanistan    g      AFN  0.045265
3              bread   2017  Afghanistan    g      AFN  0.040612
4              bread   2018  Afghanistan    g      AFN  0.041028
...               ...   ...          ...  ...      ...       ...
17905         millet   2019     Zimbabwe    g      USD  0.000530
17906        cowpeas   2019     Zimbabwe    g      USD  0.000770
17907    maize flour   2014     Zimbabwe    g      USD  0.000600
17908          maize   2018     Zimbabwe    g      USD  0.000385
17909         millet   2017     Zimbabwe    g      USD  0.002100

[17868 rows x 6 columns]

In [ ]:
np2 = pd.read_csv('/content/drive/MyDrive/new_prices2.csv')
np2

,Unnamed: 0.1,Unnamed: 0,Ingredient_name,year,country,unit,price,real_ingredient_name
0,0,0,bread,2014,Afghanistan,g,0.043263,ready shortbread crust
1,1,1,bread,2015,Afghanistan,g,0.044522,ready shortbread crust
2,2,2,bread,2016,Afghanistan,g,0.045265,ready shortbread crust
3,3,3,bread,2017,Afghanistan,g,0.040612,ready shortbread crust
4,4,4,bread,2018,Afghanistan,g,0.041028,ready shortbread crust
...,...,...,...,...,...,...,...,...
17897,17897,17897,millet,2019,Zimbabwe,g,0.000530,millet flmy
17898,17898,17898,cowpeas,2019,Zimbabwe,g,0.000770,NaN
17899,17899,17899,maize flour,2014,Zimbabwe,g,0.000600,NaN
17900,17900,17900,maize,2018,Zimbabwe,g,0.000385,maize flmy
17901,17901,17901,millet,2017,Zimbabwe,g,0.002100,millet flmy

In [ ]:
avg_np2 = np2.groupby(['Ingredient_name', 'year', 'country', 'unit', 'currency', 'real_ingredient_name'], sort=False)['price'].mean().reset_index()
avg_np2

KeyError: ignored

In [ ]:
avg_np2.to_csv('pricesFINAL.csv')

In [ ]:
pricesf.rename(columns={'ingredient_name': 'Ingredient_name'}, inplace=True)